fastapi==0.110.0
uvicorn[standard]==0.29.0
sqlalchemy==2.0.29
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pydantic-settings==2.2.1

supabase

passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
email-validator==2.1.1
python-multipart==0.0.9

numpy==1.26.4
faiss-cpu==1.7.4

PyMuPDF==1.22.5
python-docx==1.2.0
sentence-splitter==1.4
requests==2.31.0